:root{
  --brand-brown: rgb(124, 81, 28);
  --brand-accent: #D2B48C;
  --brand-sand: #d1b892;
  --bg-body: #F4E1C9;
}

body{
  background-color: var(--bg-body);
  font-family: 'Inter', sans-serif;
  color: var(--brand-brown);
}

.btn-container{ 
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  color: var(--brand-brown);
  padding: 5px;
}
.btn-container:hover{ background-color: #d3d3d3; }

.nav-tabs .nav-link{ 
  color: #000;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav-tabs .nav-link.active{
  background-color: var(--brand-accent);
  color: #fff !important;
  border-color: var(--brand-accent) var(--brand-accent) var(--brand-accent);
}
.nav-link-skinny{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:.5rem;
  padding-top:.25rem;
  padding-bottom:.25rem;
}
.nav-tabs{ box-shadow: 0 10px 10px rgba(0,0,0,.05); }

.break{ border:0; height:1px; background-color: var(--brand-brown); }

.outline{ border:1px solid #000; }

.text-brown{ color: var(--brand-brown) !important; }
.border-accent{ border-color: var(--brand-accent) !important; }
.label-brown{ color: var(--brand-brown); font-weight:700; }
.rounded-8{ border-radius:.5rem !important; }

.btn-outline-brown{
  color: var(--brand-brown);
  border:1px solid var(--brand-brown);
  background:transparent;
}
.btn-outline-brown:hover{ background: rgba(124,81,28,.06); }

.btn-save{
  color:#fff;
  background: rgb(145,92,27);
  border:1px solid var(--brand-accent);
}
.btn-save:hover{
  color:#fff;
  background: rgb(171, 108, 31);
  border:1px solid var(--brand-accent);
}
.btn-variant2 {
  border: 1px solid var(--brand-accent);
  color: var(--brand-brown);
  background: transparent;
}
.btn-variant2:hover {
  background: var(--brand-accent);
  color: #fff;
}



.avatar{
  width:100px; height:100px;
  background: var(--brand-sand);
  color:#fff; font-size:2rem;
}
.avatar-badge{
  width:40px; height:40px;
  background: var(--brand-brown);
  display:flex; align-items:center; justify-content:center;
  border-radius:50%;
  transform: translate(30%,25%);
}

.input-icon{ background:transparent; border:0; }
